@model IEnumerable<aracKiralamaWebUI.Models.aracModel>

@{
    ViewBag.Title = "Araç Listesi";
}

<h2>Araç Listesi</h2>


<div class="row m-t-30">
    <div class="col-md-12">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>
                            Marka
                        </th>
                        <th>
                            Model
                        </th>
                        <th>
                            Airbag Sayısı
                        </th>
                        <th>
                            Koltuk Sayısı
                        </th>
                        <th>
                            Günlük Fiyat
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.marka)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.model)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.airbagSayisi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.koltukSayisi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.gunlukFiyat)
                            </td>
                            <td>
                                Delete
                                <!--@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })-->
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE-->
    </div>
</div>

<table class="table"></table>
